PORT=3000
DB_TYPE=supabase

# Supabase Configuration
SUPABASE_URL=https://bzccnhgchuramepqdam.supabase.co
SUPABASE_KEY=sb_publishable_InCqxFg0mDpQM9C2WH8sqg_jnQSdymZ

# MongoDB Configuration (optional, for later)
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/db_name
